In [2]:
import pandas as pd

games = pd.read_csv("games.csv")
sales = pd.read_csv("vgsales.csv")

In [3]:
games.head()
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
games.info()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
games = games.drop(columns=['Unnamed: 0'])

In [6]:
games['game_clean'] = games['Title'].str.lower().str.strip()
sales['game_clean'] = sales['Name'].str.lower().str.strip()

In [8]:
games.columns

Index(['Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist', 'game_clean'],
      dtype='object')

In [9]:
sales.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'game_clean'],
      dtype='object')

In [10]:
games.duplicated(subset=['game_clean']).sum()
sales.duplicated(subset=['game_clean', 'Platform']).sum()

np.int64(5)

In [11]:
games['Genres'] = games['Genres'].str.lower().str.strip()

In [12]:
merged_df = games.merge(
    sales,
    how='left',
    on='game_clean'
)

In [13]:
merged_df.head()
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2246 non-null   object
 1   Release Date       2246 non-null   object
 2   Team               2245 non-null   object
 3   Rating             2233 non-null   float64
 4   Times Listed       2246 non-null   object
 5   Number of Reviews  2246 non-null   object
 6   Genres             2246 non-null   object
 7   Summary            2245 non-null   object
 8   Reviews            2246 non-null   object
 9   Plays              2246 non-null   object
 10  Playing            2246 non-null   object
 11  Backlogs           2246 non-null   object
 12  Wishlist           2246 non-null   object
 13  game_clean         2246 non-null   object
 14  Rank               1384 non-null   float64
 15  Name               1384 non-null   object
 16  Platform           1384 non-null   object
 17  Year               1369 non-null   float64
 18  Genre              1384 non-null   object
 19  Publisher          1381 non-null   object
 20  NA_Sales           1384 non-null   float64
 21  EU_Sales           1384 non-null   float64
 22  JP_Sales           1384 non-null   float64
 23  Other_Sales        1384 non-null   float64
 24  Global_Sales       1384 non-null   float64
dtypes: float64(8), object(17)
memory usage: 438.8+ KB

In [14]:
cols = ['Plays', 'Playing', 'Backlogs', 'Wishlist']

for col in cols:
    merged_df[col] = pd.to_numeric(merged_df[col], errors='coerce').fillna(0)

In [15]:
merged_df['Release Date'] = pd.to_datetime(
    merged_df['Release Date'],
    errors='coerce'
)

merged_df['release_year'] = merged_df['Release Date'].dt.year

In [16]:
sales_cols = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
merged_df[sales_cols] = merged_df[sales_cols].fillna(0)

In [18]:
games.columns

Index(['Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist', 'game_clean'],
      dtype='object')

In [19]:
sales.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'game_clean'],
      dtype='object')

In [20]:
merged_df = games.merge(
    sales,
    how='left',
    on='game_clean'
)

In [21]:
merged_df.info()
merged_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2246 non-null   object
 1   Release Date       2246 non-null   object
 2   Team               2245 non-null   object
 3   Rating             2233 non-null   float64
 4   Times Listed       2246 non-null   object
 5   Number of Reviews  2246 non-null   object
 6   Genres             2246 non-null   object
 7   Summary            2245 non-null   object
 8   Reviews            2246 non-null   object
 9   Plays              2246 non-null   object
 10  Playing            2246 non-null   object
 11  Backlogs           2246 non-null   object
 12  Wishlist           2246 non-null   object
 13  game_clean         2246 non-null   object
 14  Rank               1384 non-null   float64
 15  Name               1384 non-null   object
 16  Platform           1384 non-null   object
 17  Year               1369 non-null   float64
 18  Genre              1384 non-null   object
 19  Publisher          1381 non-null   object
 20  NA_Sales           1384 non-null   float64
 21  EU_Sales           1384 non-null   float64
 22  JP_Sales           1384 non-null   float64
 23  Other_Sales        1384 non-null   float64
 24  Global_Sales       1384 non-null   float64
dtypes: float64(8), object(17)
memory usage: 438.8+ KB

Title                  0
Release Date           0
Team                   1
Rating                13
Times Listed           0
Number of Reviews      0
Genres                 0
Summary                1
Reviews                0
Plays                  0
Playing                0
Backlogs               0
Wishlist               0
game_clean             0
Rank                 862
Name                 862
Platform             862
Year                 877
Genre                862
Publisher            865
NA_Sales             862
EU_Sales             862
JP_Sales             862
Other_Sales          862
Global_Sales         862
dtype: int64

In [22]:
# Engagement numeric
eng_cols = ['Plays', 'Playing', 'Backlogs', 'Wishlist']
merged_df[eng_cols] = merged_df[eng_cols].apply(pd.to_numeric, errors='coerce').fillna(0)

# Sales fill for BI
sales_cols = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
merged_df[sales_cols] = merged_df[sales_cols].fillna(0)

# Year int
merged_df['Year'] = pd.to_numeric(merged_df['Year'], errors='coerce').astype('Int64')

In [23]:
merged_df.info()
merged_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2246 non-null   object
 1   Release Date       2246 non-null   object
 2   Team               2245 non-null   object
 3   Rating             2233 non-null   float64
 4   Times Listed       2246 non-null   object
 5   Number of Reviews  2246 non-null   object
 6   Genres             2246 non-null   object
 7   Summary            2245 non-null   object
 8   Reviews            2246 non-null   object
 9   Plays              2246 non-null   float64
 10  Playing            2246 non-null   float64
 11  Backlogs           2246 non-null   float64
 12  Wishlist           2246 non-null   float64
 13  game_clean         2246 non-null   object
 14  Rank               1384 non-null   float64
 15  Name               1384 non-null   object
 16  Platform           1384 non-null   object
 17  Year               1369 non-null   Int64
 18  Genre              1384 non-null   object
 19  Publisher          1381 non-null   object
 20  NA_Sales           2246 non-null   float64
 21  EU_Sales           2246 non-null   float64
 22  JP_Sales           2246 non-null   float64
 23  Other_Sales        2246 non-null   float64
 24  Global_Sales       2246 non-null   float64
dtypes: Int64(1), float64(11), object(13)
memory usage: 441.0+ KB

Title                  0
Release Date           0
Team                   1
Rating                13
Times Listed           0
Number of Reviews      0
Genres                 0
Summary                1
Reviews                0
Plays                  0
Playing                0
Backlogs               0
Wishlist               0
game_clean             0
Rank                 862
Name                 862
Platform             862
Year                 877
Genre                862
Publisher            865
NA_Sales               0
EU_Sales               0
JP_Sales               0
Other_Sales            0
Global_Sales           0
dtype: int64

In [24]:
merged_df['Platform'] = merged_df['Platform'].fillna('Unknown')
merged_df['Publisher'] = merged_df['Publisher'].fillna('Unknown')

In [25]:
sales_cols = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
merged_df[sales_cols] = merged_df[sales_cols].fillna(0)

In [26]:
merged_df['Year'] = pd.to_numeric(merged_df['Year'], errors='coerce')

In [27]:
merged_df.to_csv("video_game_final_dataset.csv", index=False)

In [28]:
import pandas as pd

df = pd.read_csv(
    "video_game_final_dataset.csv",
    encoding="utf-8-sig"   # ðŸ”¥ BOM issue yahin fix ho jaata hai
)

In [29]:
df.columns

Index(['Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist', 'game_clean', 'Rank', 'Name', 'Platform',
       'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales',
       'Other_Sales', 'Global_Sales'],
      dtype='object')

In [30]:
df.columns = df.columns.str.strip()

In [31]:
def convert_k(val):
    if pd.isna(val):
        return 0
    val = str(val)
    if val.endswith('K'):
        return float(val[:-1]) * 1000
    return float(val)

In [32]:
df['Times Listed'] = df['Times Listed'].apply(convert_k).astype(int)
df['Number of Reviews'] = df['Number of Reviews'].apply(convert_k).astype(int)

In [33]:
df['Release Date'] = pd.to_datetime(
    df['Release Date'],
    dayfirst=True,
    errors='coerce'
).dt.strftime('%Y-%m-%d')

In [34]:
numeric_cols = [
    'Rating', 'Plays', 'Playing',
    'Backlogs', 'Wishlist',
    'NA_Sales', 'EU_Sales',
    'JP_Sales', 'Other_Sales',
    'Global_Sales'
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

In [35]:
df.columns

Index(['Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist', 'game_clean', 'Rank', 'Name', 'Platform',
       'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales',
       'Other_Sales', 'Global_Sales'],
      dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2246 non-null   object
 1   Release Date       2243 non-null   object
 2   Team               2245 non-null   object
 3   Rating             2246 non-null   float64
 4   Times Listed       2246 non-null   int64
 5   Number of Reviews  2246 non-null   int64
 6   Genres             2246 non-null   object
 7   Summary            2245 non-null   object
 8   Reviews            2246 non-null   object
 9   Plays              2246 non-null   float64
 10  Playing            2246 non-null   float64
 11  Backlogs           2246 non-null   float64
 12  Wishlist           2246 non-null   float64
 13  game_clean         2246 non-null   object
 14  Rank               1384 non-null   float64
 15  Name               1384 non-null   object
 16  Platform           2246 non-null   object
 17  Year               1369 non-null   float64
 18  Genre              1384 non-null   object
 19  Publisher          2246 non-null   object
 20  NA_Sales           2246 non-null   float64
 21  EU_Sales           2246 non-null   float64
 22  JP_Sales           2246 non-null   float64
 23  Other_Sales        2246 non-null   float64
 24  Global_Sales       2246 non-null   float64
dtypes: float64(12), int64(2), object(11)
memory usage: 438.8+ KB

In [37]:
df.to_csv(
    "video_game_mysql_ready.csv",
    index=False,
    encoding="utf-8"
)